<div class="row">
  <aside class="col-sm-4">
    <div class="user">
      <div class="panel panel-default">
        <div class="panel-heading text-center">
          <img src="<%= gravatar_url(@user, { size: 250 }) %>" alt="" class="img-circle">
        </div>
        <div class="panel-body">
          <p class="user-title" align="center"><%= @user.name %></p>
        </div>
      </div>
    </div>
  </aside>
  <div class="col-sm-8">
    <h2><%= @user.name %>さんのプロフィール</h2>
    <% if Profile.exists?(user_id: @user.id) %>
      <table class="table">
        <tr>
          <td class="text-left">ご年齢</td>
        　<td class="text-left"><%= @user.profile.age %></td>
        </tr>
        <tr>
          <td class="text-left">性別</td>
          <td class="text-left"><%= @user.profile.sex %></td>
        </tr>
        <tr>
          <td class="text-left">ご職業</td>
          <td class="text-left"><%= @user.profile.job %></td>
        </tr>
        <tr>
          <td class="text-left">ご趣味</td>
          <td class="text-left"><%= @user.profile.hobby %></td>
        </tr>
        <tr>
          <td class="text-left">ひとこと</td>
          <td class="text-left"><%= @user.profile.comment %></td>
        </tr>
      </table>
    <% else %>
      <% if current_user == @user %>
        <%= link_to 'プロフィールを作成する', profile_new_user_path %>
      <% end %>
    <% end %>
  </div>
</div>
<div class="row">
  <ul class="nav nav-jastified nav-tabs">
    <li class="<%= 'active' if current_page?(user_path(@user)) %>"><%= link_to user_path(@user) do %>マッチング済み<% end %></li>
    <li class="<%= 'active' if current_page?(followings_user_path(@user)) %>"><%= link_to followings_user_path(@user) do %>いいねしているユーザー<% end %></li>
    <li class="<%= 'active' if current_page?(followers_user_path(@user)) %>"><%= link_to followers_user_path(@user) do %>いいねされているユーザー<% end %></li>
  </ul>
    <%= render 'users/users', users: @users %>
</div>